{% extends 'ApiAdvertBundle:Default:index.html.twig' %}

{% block container %}
    <h1>Liste des Villes</h1>
    <hr>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.id }}</a></td>
                <td>{{ city.name }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('city_show', { 'id': city.id }) }}">Voir</a>
                    <a class="btn btn-info" href="{{ path('city_edit', { 'id': city.id }) }}">Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="pull-right">
        <a class="btn btn-default" href="{{ path('api_advert_homepage') }}" type="button">Retour Accueil</a>
        <a class="btn btn-success" href="{{ path('city_new') }}" type="button">Ajouter un ville</a>
    </div>
{% endblock %}
